---
import Card from '../Card.astro'
import { Badge } from '../ui/badge'
import { EDUCATION } from '../../lib/constants'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
    <header class="flex items-center">
      <h1 class="text-xl font-bold text-foreground text-special">
        Education
      </h1>
    </header>
    <br>
  <div class="mt-2 flex w-full flex-wrap items-center justify-center gap-2">
    {
      EDUCATION.map((education) => (
        <Badge variant= "outline">{education.title}</Badge>
        <a href={education.link} target="__blank">
        <Badge variant="outline">{education.institution}</Badge>
        </a>
      ))
    }
  </div>
</Card>
