---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="My Stack">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      These are some tools and technologies I have experience with:    
      <br />
      <br />
      <ul class="list-inside list-disc">
            <li>TypeScript</li>
            <li>JavaScript</li>
            <li>Node.js</li>
            <li>Angular</li>
            <li>Next</li>
            <li>Svelte</li>
            <li>MarkoJS</li>
            <li>React.js</li>
            <li>PostgreSQL</li>
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>REST API</li>
      </ul>
    </p>
  </div>
</Card>
