---
import Card from '../Card.astro'
---

<Card
      colSpan="md:col-span-1"
      rowSpan="md:row-span-2"
      href="/portfolio">
      <header class="flex items-center">
      <h1 class="text-xl font-bold text-foreground text-special">
        Previous Projects
      </h1>
    </header>
    <br>
      <p class="text-gray-500">
        These projects shaped my experience and helped me develop my knowledge.
      </p>
    </Card>