---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-xl font-bold text-foreground text-special">
        Soft Skills
      </h1>
    </header>
    <div class="flex flex-col gap-2">
      <p class="text-sm font-light">
        Personal characteristics I turned into improved skills:
      </p>
    <div class="mt-4 flex w-fit flex-col custom-bullets">
      <ul>
        <li>
          Continuous Learning
        </li>
        <li>
          Clear Communication
        </li>
        <li>
          Cross-Disciplinary Collaboration
        </li>
        <li>
          Active Listening
        </li>
        <li>
          Creative Problem-Solving
        </li>
        <li>
          Analytical Thinking
        </li>
        <li>
          Learning Adaptability
        </li>
        <li>
          Proactivity
        </li>
        <li>
          Self-Motivation
        </li>
        <li>
          User Empathy
        </li>
        <li>
          Storytelling
        </li>
        <li>
          Curiosity
        </li>
      </ul>
    </div>
  </div>
</Card>
