---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="My Stack">
  <p class="text-sm font-light">
    Here are some tools and technologies I have experience with:
  </p>
  <ul class="list-disc pl-5 text-sm font-light">
    <li><strong>TypeScript</strong></li>
    <li><strong>JavaScript</strong></li>
    <li><strong>Node.js</strong></li>
    <li><strong>Angular</strong></li>
    <li><strong>Next</strong></li>
    <li><strong>Svelte</strong></li>
    <li><strong>MarkoJS</strong></li>
    <li><strong>React.js</strong></li>
    <li><strong>PostgreSQL</strong></li>
    <li><strong>MySQL</strong></li>
    <li><strong>MongoDB</strong></li>
    <li><strong>REST API</strong></li>
  </ul>
</Card>